<h1>MY TODO LIST</h1>
<%@tasks.each do |task|%>
  <h2><%=task.completed%> <%=link_to task.title,task_path(task)%>
  <%=link_to "Delete this task",
  task_path(task.id),
  method: :delete,
  data: {confirm: "Are you sure?" }%>
  </h2>
<%end%>
<%=link_to "Add a new Task",new_task_path%>
