<h1>Liste des tâches</h1>
<%@tasks.each do |task|%>
  <h2><%=task.completed%> <%=task.title%></h2>
  <%=link_to "Click for Details",task_path(task)%>
<%end%>
<h1></h1>
<%=link_to "Create a new Task",tasks_new_path%>
